<br />
<h1 class="text-center"
style="font-family:'Pacifico',cursive">Grams!</h1><br />

<% @grams.each do |gram| %>
<div class="grams-box col-8">
  <div class="row header">
    <div class="col user-id">
      userid/email
    </div>
    <div class="col message">
      <%= gram.message %>
    </div>
    <div class="col">
      +
    </div>
  </div>
  <div class="row image justify-content-center">
    <%= image_tag gram.image.url %>
  </div>
</div>
<% end %>